@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

.flex {
  padding: 0;
  margin: 50px 0;
  display: flex;
  justify-content: start;
}

.items {
  margin: 0 50px;
  height: 300px;
}

.items p {
  padding: 0;
  margin: 0;
}

.thumbnail {
  width: 300px;
  height: 300px;
  border: solid 1px #eee;
}

.small {
  font-size: 0.8em;
}

.center {
  width: 600px;
  margin: 50px auto;
}

@media screen and (max-width: 1000px) {

  .main {
    width: 300px;
    margin: 0 auto;
  }

  .flex {
    display: inline-block;
    margin: 50px 0;
  }

  .items {
    width: 300px;
    margin: 50px 0;
    height: 100%;
  }
}